@model DOCs_RSVP_Form.Models.Reservation

@{Layout = null;}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    Congrats @Model.Name!!!
    click <a asp-action="Attendees">here</a> to see who is coming.
</body>
</html>