@model DOCs_RSVP_Form.Models.Reservation
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome Human 😊❤</title>
    <link rel="stylesheet" href="~/CSS/Index.css" />
</head>
<body>
    <div>
        <h3>Congratulations!!!</h3>
        <p>
            It's been a long semester, and what better way to cool-off and refresh than
            engaging in some fun? on this note we at DOC's foundation are delighted to invite
            you  to the annual event that is <em>DOC's beach party</em>
            click <a id="RSVPbtn" asp-action="RSVPNow">here</a> to RSVP now.
        </p>
    </div>
</body>
</html>