@model DOCs_RSVP_Form.Models.Reservation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RSVPNow</title>
    <link href="~/CSS/Form.css" rel="stylesheet" />
</head>
<body>
    <h4>Reservations</h4>

    <form asp-action="RSVPNow">
        <div asp-validation-summary="ModelOnly"></div>

        <p>
            <span class="warning" asp-validation-for="Name"></span>
            <div>
                <label asp-for="Name">Your Name:</label>
                <input asp-for="Name" type="text" />
            </div>
        </p>

        <p>
            <span class="warning" asp-validation-for="Email"></span>
            <div>
                <label asp-for="Email">Your Email:</label>
                <input asp-for="Email" type="text" />
            </div>
        </p>

        <p>
            <span class="warning" asp-validation-for="PhoneNo"></span>
            <div>
                <label asp-for="PhoneNo">Your Phone Number</label>
                <input asp-for="PhoneNo" type="text" />
            </div>
        </p>

        <p>
            <select asp-for="BringingDrinks">
                <option value="">
                    Will you bring drinks ?
                </option>11111
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </p>

        <button type="submit">Submit RSVP</button>
    </form>
</body>
</html>